@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  background: #d9d9d9;
}
.map-container {
  position: relative;
  height: 500px;
  width: 100%;
}
.map-container {
  position: relative;
  height: 500px;
  width: 100%;
}

.cluster-marker {
  background-color: rgba(0, 150, 255, 0.6);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.point-marker img {
  width: 20px;
  height: 20px;
}
/* RoommateCard.css */
.slick-dots li button:before {
  font-size: 10px;
  color: white;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 1;
}

.slick-dots li.slick-active .custom-dot {
  background-color: black;
}
.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
  z-index: 1;
}

.custom-arrow-next {
  right: 5px;
}

.custom-arrow-prev {
  left: 5px;
}

.custom-dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  margin: 0 1px;
}

.slick-dots li.slick-active .custom-dot {
  background-color: black;
}
.slick-dots li {
  width: 5px;
  height: 5px;
  margin: 0 3px;
}
.mapboxgl-ctrl {
  display: none;
}
.mapboxgl-ctrl .mapboxgl-ctrl-logo {
  display: none;
}
.IduNaPodseleniya {
  transition: all .3s;
}
.IduNaPodseleniya:hover {
  color: black;
  border: 1px solid black;
}
.IduNaPodseleniya:hover .searchIconIduNa {
  fill: black;
}
.IduNaPodseleniya:hover .searchIconIduNa{
  transition: all .3s;
  fill: black;

}
.PhoneInputInput{
  background-color: #d9d9d9;
  outline: none;
}